.nav-bar {
    top: var(--panel-top);
    background-color: var(--purple-color) !important;
    z-index: 2;
}

.container-fluid {
    padding-left: var(--padding-left-navbar) !important;
    column-gap: 2dvw;
}

.container-fluid a {
    color: var(--green-color);
    font-family: var(--font-style);
    font-weight: bold !important;
}

.nav-item a {
    color: var(--light-color) !important;
    letter-spacing: 1px;
}

.navbar-nav {
    gap: 3dvw;
    padding-left: calc(60dvw - var(--padding-left-navbar)) !important;
}

.image-round-cont>label {
    padding-left: 7dvw;
}

.image-round {
    width: 15dvw;
    height: 15dvw;
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

h3 {
    padding-left: 4dvw;
}

.carousel {
    z-index: 1;
    max-width: var(--carousel-width);
    max-height: var(--carousel-height);
}

.image-text {
    position: relative;
    font-size: 28px;
    letter-spacing: 2px;
    top: 30px;
}

.cat {
    color: rgb(243, 129, 167);
}

.cave {
    color: var(--green-color);
}

.quiz {
    color: white;
}

.logo {
    width: 50dvw;
    position: relative;
    z-index: 1;
    font-size: 20dvh;
    margin-left: 60dvw;
}

.dot {
    font-size: 250px;
    letter-spacing: -20px;
    color: var(--pink-color);
}

.i {
    font-size: 120px;
    font-weight: bolder;
    letter-spacing: -25px;
    color: var(--purple-color);
}

.code {
    font-size: 100px;
    letter-spacing: -5px;
    font-weight: 400;
}

.intro {
    padding: 10%;
    padding-top: 10%;
    letter-spacing: 1px;
    font-size: minmax(1vw, 1.5vw);
    color: var(--light-color);
}

.second-par {
    padding-top: 100px;
}

.description {
    position: absolute;
    min-height: 50dvh;
    width: 50%;
    top: 18dvh;
    left: 45dvw;
}

.description>h2 {
    color: var(--pink-color);
}

.flex-icons {
    justify-content: space-around;
    padding: 9dvw;
    padding-bottom: 5dvh;
}

.grid-icons>label {
    text-decoration: underline;
    color: var(--purple-color);
    text-align: center;
}

.link-image {
    width: 6dvw;
    height: 6dvw;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.link-image:hover {
    width: 6.1dvw;
    height: 6.1dvw;
}

.game-describe {
    padding-top: 5dvh;
}

.card-project {
    color: var(--dark-color);
}

.title-project {
    color: rgb(7, 123, 123) !important;
    font-weight: bolder;
}

.list-group-item {
    background-color: #cff7f562 !important;
}

.card-link {
    color: var(--pink-color) !important;
    font-weight: bolder;
}

.project-pic {
    border-radius: 5%;
    height: 25dvh;
    width: auto;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.flex-project-pics {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 100% !important;
    background-color: var(--light-color) !important;
}

.card-home:hover {
    width: 102%;
    height: 102%;
}

.separate {
    height: 20dvh;
    width: 100%;
    background-color: var(--green-color);
}

.card-img-top {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card a {
    color: var(--dark-color);
    text-decoration: none !important;
}


@media only screen and (min-width: 360px) and (max-width: 500px) and (min-height: 650px) {
    .carousel {
        min-width: 95dvw;
    }

    .logo {
        font-size: 10dvh;
        margin-left: 3.5dvh;
        margin-top: 3dvh;
    }

    .mobile {
        --bg-panel-height: 100dvh;
        --panel-height: 90%;
    }

    .image-round-cont {
        min-height: 30dvh;
    }

    .image-round {
        min-width: 22dvw;
        min-height: 22dvw;
    }

    .separate {
        height: 38dvh;
    }

    .sep-2 {
        height: 10dvh;
    }

    .second-par {
        padding-top: 5dvh;
    }

    .description {
        height: 60dvh;
        left: 40dvw;
        top: 15dvh;
        width: 55%;
    }

    .flex-icons {
        padding: 1dvw;
        padding-top: 6dvh;
    }

    .link-image {
        width: 15dvw;
        height: 15dvw;
    }

    .project-pic {
        width: 95%;
    }

    .flex-project-pics {
        padding-top: 5dvh;
        padding-bottom: 5dvh;
        gap: 5dvh;
    }
}

@media only screen and (min-width: 280px) {
    .logo {
        top: 25%;
        left: 5dvw;
    }

    .image-round-cont {
        padding-left: 2dvw;
        padding-right: 2dvw;
    }
}

@media only screen and (min-width: 500px) and (max-width: 1000px) {
    .image-text {

        font-size: 20px;
    }

    .link-image {
        width: 10dvw;
        height: 10dvw;
    }

    .flex-icons {
        padding: 3dvw;
    }

    .grid-icons {
        padding-left: 5dvw;
        padding-right: 5dvw;
        padding-top: 0;
    }

    .project-pic {
        width: 80%;
    }

    .flex-project-pics {
        flex-direction: column;
        gap: 5dvh;
    }
}

@media only screen and (min-width: 500px) and (max-width: 560px) {
    .image-round {
        min-width: 25dvw;
        min-height: 25dvw;
    }
}

@media only screen and (max-width: 800px) {
    .grid-container {
        grid-template-columns: repeat(1, 90%);
    }
}

@media only screen and (min-height: 790px) and (max-height: 1000px) {
    .logo {
        font-size: 10dvh;
        top: 45%;
    }

    .flex-icons {
        padding: 1dvw;
        padding-top: 10dvh;
    }
}